asgiref @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/asgiref-3.5.0-py3-none-any.whl
async-timeout @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/async_timeout-2.0.1-py3-none-any.whl
CacheControl @ file:///D:/Psim/ptk/CacheControl-0.12.10-py2.py3-none-any.whl
certifi @ file:///D:/Psim/ptk/certifi-2021.10.8-py2.py3-none-any.whl
cffi @ file:///D:/Psim/ptk/cffi-1.15.0-cp38-cp38-win_amd64.whl
chardet @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/chardet-3.0.4-py2.py3-none-any.whl
charset-normalizer @ file:///D:/Psim/ptk/charset_normalizer-2.0.10-py3-none-any.whl
cryptography @ file:///D:/Psim/ptk/cryptography-2.9-cp38-cp38-win_amd64.whl
defusedxml @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/defusedxml-0.6.0-py2.py3-none-any.whl
Django @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/Django-3.2.9-py3-none-any.whl
django-debug-toolbar @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/django_debug_toolbar-3.2-py3-none-any.whl
django-debug-toolbar-template-profiler @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/django_debug_toolbar_template_profiler-2.0.1-py2.py3-none-any.whl
django-extensions @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/django_extensions-3.1.5-py3-none-any.whl
graphviz @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/graphviz-0.19.1-py3-none-any.whl
idna @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/idna-2.9-py2.py3-none-any.whl
mock @ file:///D:/Psim/ptk/mock-4.0.3-py3-none-any.whl
msgpack @ file:///D:/Psim/ptk/msgpack-1.0.3-cp38-cp38-win_amd64.whl
mysql-connector-python @ file:///C:\Users\kolesnikiy\PycharmProjects\gb\dj\pckgs_4_dj\mysql_connector_python-8.0.28-cp38-cp38-win_amd64.whl
numpy @ file:///D:/Psim/ptk/numpy-1.22.1-cp38-cp38-win_amd64.whl
oauthlib @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/oauthlib-3.1.0-py2.py3-none-any.whl
pandas @ file:///D:/Psim/ptk/pandas-1.4.0-cp38-cp38-win_amd64.whl
Pillow @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/Pillow-9.0.0-cp38-cp38-win_amd64.whl
protobuf @ file:///D:/Psim/ptk/protobuf-3.19.4-cp38-cp38-win_amd64.whl
pycparser @ file:///D:/Psim/ptk/pycparser-2.21-py2.py3-none-any.whl
pydot @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/pydot-1.4.2-py2.py3-none-any.whl
pydotplus==2.0.2
PyJWT @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/PyJWT-2.0.0-py3-none-any.whl
pyparsing @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/pyparsing-3.0.7-py3-none-any.whl
python-dateutil @ file:///D:/Psim/ptk/python_dateutil-2.8.2-py2.py3-none-any.whl
python3-openid @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/python3_openid-3.2.0-py3-none-any.whl
pytz @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/pytz-2021.3-py2.py3-none-any.whl
pywin32 @ file:///D:\Psim\ptk\pywin32-303-cp38-cp38-win_amd64.whl
requests @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/requests-2.23.0-py2.py3-none-any.whl
requests-oauthlib @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/requests_oauthlib-1.3.0-py2.py3-none-any.whl
six @ file:///D:/Psim/ptk/six-1.16.0-py2.py3-none-any.whl
social-auth-app-django @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/social_auth_app_django-3.3.0-py3-none-any.whl
social-auth-core @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/social_auth_core-3.3.0-py3-none-any.whl
sqlparse @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/sqlparse-0.4.2-py3-none-any.whl
Unidecode @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/Unidecode-1.1.2-py2.py3-none-any.whl
urllib3 @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/urllib3-1.25.9-py2.py3-none-any.whl
wrapt @ file:///C:/Users/kolesnikiy/PycharmProjects/gb/dj/pckgs_4_dj/wrapt-1.14.0-cp38-cp38-win_amd64.whl
xlwings @ file:///C:\Users\kolesnikiy\PycharmProjects\gb\dj\pckgs_4_dj\xlwings-0.27.3-py3-none-any.whl
